.pagination 
  .pagination__recent 
    a(href="#!").pagination__text-nav recent post

  .pagination__current
    .pagination__current-item.pagination__current-item--active
      a(href="#!") 1
    .pagination__current-item 
      a(href="#!") 2 
    .pagination__current-item 
      a(href="#!") 3

  .pagination__older 
    a(href="#!").pagination__text-nav older posts