.share-icons
  a(href="#!").share-icons__item
    img(src="./img/icons/social/whatsapp.svg", alt="whatsapp icon", width="21")
  a(href="#!").share-icons__item
    img(src="./img/icons/social/instagram.svg", alt="instagram icon", width="19")
  a(href="#!").share-icons__item
    img(src="./img/icons/social/twitter.svg", alt="twitter icon", width="21")
  a(href="#!").share-icons__item
    img(src="./img/icons/social/facebook-f.svg", alt="share icon", width="12")