social-icons.social-icons 
  a(href="#!").socoal-icons__item
    img(src="./img/icons/social/instagram.svg", alt="intagram", width="22")
  a(href="#!").socoal-icons__item
    img(src="./img/icons/social/twitter.svg", alt="twitter", width="25")
  a(href="#!").socoal-icons__item
    img(src="./img/icons/social/facebook-f.svg", alt="facebook", width="14")