+widget('Instagram')
  .widget-insta
    +widget-insta-item('insta-01.jpg', link='#!', title='Instagram photo')
    +widget-insta-item('insta-02.jpg', link='#!', title='Instagram photo')
    +widget-insta-item('insta-03.jpg', link='#!', title='Instagram photo')
    +widget-insta-item('insta-04.jpg', link='#!', title='Instagram photo')
    +widget-insta-item('insta-05.jpg', link='#!', title='Instagram photo')
    +widget-insta-item('insta-06.jpg', link='#!', title='Instagram photo')
    +widget-insta-item('insta-07.jpg', link='#!', title='Instagram photo')
    +widget-insta-item('insta-08.jpg', link='#!', title='Instagram photo')
    +widget-insta-item('insta-09.jpg', link='#!', title='Instagram photo')
    +widget-insta-item('insta-10.jpg', link='#!', title='Instagram photo')
