/* Copyright */ 
.copy-right {
  padding: calc((60px - 14px) / 2);
  background-color: #e8ebee;
}

.copy-right__text {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  line-height: 1;
  color: #b7babe;
  text-align: center;

}